@import "MainPage";
@import "LoginModal";
@import "review";
@import "Mypage";

.App{
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.body {
    margin-top: 10vh;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}
.advList {
    margin: 0px 20px;
    
    width:70rem;
    padding: 10px 20px;
}
.advListTable {
    width:70rem;
    
}
.advListTable thead {
    background-color: rgba(0, 0, 0, 0.803);
    height: 30px;
    color: white;
}
.advListTable tr th {
    border-radius: 5px;
    padding: 0px 40px;
    height: 30px;
    
}

.filter {
    width:70rem;
    margin: 0px 20px;
    padding: 10px 20px;
    
    
}
.filter ul li {
    display: inline-block;
    padding-left: 10px;
}

.advView{
    margin: 0px 20px;
    width:70rem;
    padding: 10px 20px;
}
.advViewTable {
    width:70rem;
}

.advViewTable thead {
    background-color: rgba(0, 0, 0, 0.803);
    height: 30px;
    color: white;
}
.advViewTable tr th {
    border-radius: 5px;
    padding: 0px 40px;
    height: 30px;
    white-space: pre-line;
}
table {
    margin-bottom: 6rem;
}

.btn {
    background-color: rgba(0, 0, 0, 0.803);
    color: white;
    width:8rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
}
